@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,regular,500,600,700);
@import "tailwindcss";

@theme {
  --color-main: #0e0e0e;
  --color-bg: #141313;
  --color-text: #fff;
  --color-primary: #eae112;

  --font-family: "Oswald", sans-serif;
}

html,
body,
#root {
  @apply h-full;
}

body {
  @apply bg-bg text-text  font-family;
}

#root {
  @apply h-screen md:h-full;
}

.section {
  @apply pt-10  px-5 2xl:px-24 flex flex-col justify-center items-center flex-1 text-center;
}
